*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
}

.v-carousel__controls__item.v-btn.v-btn--icon.v-btn--active{
  background-color: white;
}

.v-application{
  background-color: #F4F5FB !important;
}